<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">
    <form #ff="ngForm" *ngIf="controlDynamicStepsIn == 3">

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CEP -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="10" placeholder="CEP" omegamask="99.999-999" name="cep" required [(ngModel)]="getSimulation().client.address.cep">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="5" placeholder="{{'lb-number' | translate | uppercase}}" required
                        name="numeroGuarantor1" [(ngModel)]="getSimulation().client.address.number">
                </md-input-container>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ENDERECO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="50" placeholder="{{'lb-address' | translate | uppercase}}" required
                        name="enderecoGuarantor1" [(ngModel)]="getSimulation().client.address.address">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- COMPLEMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="20" placeholder="{{'lb-complement' | translate | uppercase}}"
                        name="complementoGuarantor1" [(ngModel)]="getSimulation().client.address.complement">
                </md-input-container>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- BAIRRO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="20" placeholder="{{'lb-neighborhood' | translate | uppercase}}" required
                        name="bairroGuarantor1" [(ngModel)]="getSimulation().client.address.neighborhood">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CIDADE -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="40" placeholder="{{'lb-city' | translate | uppercase}}" required
                        name="cidadeGuarantor1" [(ngModel)]="getSimulation().client.address.city">
                </md-input-container>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- UF -->
                <md-select [disabled]="disableFieldsByStatusDossier() || disableFieldsByStatusThree()" placeholder="UF" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input"
                    name="province" [(ngModel)]="getSimulation().client.address.province.id" required>
                    <md-option *ngFor="let lp of getListProvince()" [value]="lp.id">
                        {{ lp.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TIPO DE RESIDENCIA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-type-of-residence' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input"
                    name="typeResidence" [(ngModel)]="getSimulation().client.address.residenceType.id" required>
                    <md-option *ngFor="let ltr of getListTypeResidence()" [value]="ltr.id">
                        {{ ltr.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- RESIDE NO ENDERECO DESDE -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" monthyear="99/9999" mdInput placeholder="{{'lb-lives-in-address-since' | translate | uppercase}}" name="residesInAddressFrom"
                        [(ngModel)]="getSimulation().client.address.residesInAddressSince" required>
                     <!--<md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>-->
                </md-input-container>
                <!--<md-datepicker #picker1></md-datepicker>-->
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ENDERECO DE CORRESPONDENCIA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-mailing-address' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input"
                    name="mailingAddress" [(ngModel)]="getSimulation().client.address.mailingAddress.id" required>
                    <md-option *ngFor="let lma of getListMailingAddress()" [value]="lma.id">
                        {{ lma.description }}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div fxLayout="row">
            <div *ngIf="isPhysicalPerson() && showSpouse" 
                 fxLayoutAlign="end none" fxFlex.sm="50%" fxFlex.gt-sm="50%" [ngStyle]="{'padding-top':'15px'}">
                <button fxFlex.xs="100%" fxFlex.gt-sm="50%" fxFlex.sm="100%"
                        (click)="nextStep()"md-raised-button [disabled]="!ff.form.valid"
                        color="primary">{{'lb-spouse' | translate | uppercase}}
                </button>
            </div>
            <div *ngIf="!isPhysicalPerson() || !showSpouse" 
                 fxLayoutAlign="center center" fxFlex.sm="50%" fxFlex.gt-sm="50%" [ngStyle]="{'padding-top':'15px'}">
                <button type="button" fxFlex.xs="100%" fxFlex.gt-sm="50%" fxFlex.sm="100%" type="button"
                        (click)="nextStep()" md-raised-button [disabled]="!ff.form.valid"
                        color="primary">{{'lb-professional-data' | translate | uppercase}}
                </button>
            </div>
        </div>
    </form>
</div>
        