<div fxLayout.xs="column" *ngIf="!simulation.reviewContractSimulation">
  <div fxLayout.xs="column" fxFlex.xs="100%">
    <calculation-mobile [calculationID]="0" fxFlex.xs="100%"></calculation-mobile>
  </div>
  <div fxLayout.xs="column" fxFlex.xs="100%">
    <calculation-mobile fxFlex.xs="100%" [calculationID]="1"></calculation-mobile>
  </div>
  <div fxLayout.xs="column" fxFlex.xs="100%">
    <calculation-mobile fxFlex.xs="100%" [calculationID]="2"></calculation-mobile>
  </div>
</div>

<div fxFlex.xs="100%" fxLayout.xs="column" *ngIf="simulation.showResumMobile===false && simulation.reviewContractSimulation && simulation.calculationSelected.selected">

  <div fxLayout="column" [ngStyle]="{'padding': '5%'}">

    <div fxLayout="row" [ngStyle.gt-sm]="{'height': '6%'}">
      <h3 [ngStyle.xs]="{'font-size': '19px'}" class="black-color">{{'lb-review-contracted-simulation' | translate | uppercase }}</h3>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label class="black-color font-bold">{{'lb-financial-type' | translate}}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label>{{ simulation.calculationSelected.financialType.description }}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label class="black-color font-bold">{{'lb-table' | translate}}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label>{{ simulation.calculationSelected.financialTable.description }}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label class="black-color font-bold">{{'lb-delay' | translate}}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label>{{ simulation.calculationSelected.delay }}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label class="black-color font-bold">{{'lb-entrance' | translate}}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label>{{ simulation.calculationSelected.entranceValue | money }}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label class="black-color font-bold">{{'lb-financial-during' | translate}}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label>{{ simulation.calculationSelected.term }}</label>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'3%'}" class="flexBasisIE space-mozila-top">
      <label class="black-color font-bold">{{'lb-contracted-services' | translate}}</label>
    </div>

    <div fxLayout="row" class="space-mozila-top flexBasisIE" fxFlex.xs="100%" [ngStyle]="{'padding-top':'4%'}" *ngFor="let service of simulation.calculationSelected.services">
      <div fxFlex.xs="70%">
        <label>{{ service.description }}</label>
      </div>
      <div fxFlex.xs="30%">
        <label>{{ service.amount | money }}</label>
      </div>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" class="flexBasisIE space-mozila-top" [ngStyle]="{'padding-top':'4%'}">
      <div fxFlex.xs="70%">
        <label class="black-color font-bold">{{'lb-total-funded' | translate}}</label>
      </div>
      <div fxFlex.xs="30%">
        <label class="black-color font-bold">{{ simulation.calculationSelected.financedAmount | money }}</label>
      </div>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" class="flexBasisIE space-mozila-top" *ngFor="let termTemp of simulation.calculationSelected.terms" [ngStyle]="{'padding-top':'2%'}">
      <div fxFlex.xs="70%">
        <h4 class="black-color font-bold">{{'lb-monthly' | translate}}</h4>
      </div>
      <div fxFlex.xs="30%">
        <h4 class="black-color font-bold">{{ termTemp.quantity }}x {{ termTemp.value | money }}</h4>
      </div>
    </div>

    <div fxLayout="row" fxFlex.xs="100%" [ngStyle]="{'padding-top':'5%'}" class="flexBasisIE space-mozila-top">
        <label>{{'lb-custumer-rate' | translate}}: {{ simulation.calculationSelected.montlyRate }}%</label>
    </div>

    <div fxLayout="row">
      <md-toolbar (click)="change(true)" class="buttonMobileFooter">
        <div fxFlex.xs="100%" fxLayoutAlign="center center" fxFlex.sm="100%">
          <span>{{'btn-fill-customer-card' |  translate }}</span>
        </div>
      </md-toolbar>
    </div>

  </div>
</div>