<div fxLayout="column" fxFlex.xs="100%" [ngStyle]="{'padding': '2%'}">

    <form #ff="ngForm">
        <div fxLayout="row">
            <div fxFlex.xs="100%">
                <!-- NOME COMPLETO REF. 1 -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="50" placeholder="{{'lb-full-name' | translate | uppercase}} REF. 1" name="fullNameRef1Guarantor2" [required]="getSimulation().client.guarantor2.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor2.reference1.name">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                 <!-- NUMERO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="10" placeholder="{{'lb-number' | translate | uppercase}}" name="numeroRef1Guarantor2" [required]="getSimulation().client.guarantor2.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor2.reference1.phone">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                 <!-- NOME COMPLETO REF. 2 -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="50" placeholder="{{'lb-full-name' | translate | uppercase}} REF. 2" name="fullNameRef2Guarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.reference2.name">
                </md-input-container>   
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                 <!-- NUMERO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="10" placeholder="{{'lb-number' | translate | uppercase}}" name="numeroRef2Guarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.reference2.phone">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <md-toolbar (click)="nextStep()" class="buttonMobileFooter">
                {{'btn-banking-reference' | translate | uppercase}} {{'btn-guarantor' | translate | uppercase}} 2
            </md-toolbar>
        </div>

    </form>
</div>