<div class="column header">
    <div fxFlex.gt-sm="100" fxFlex.xs="100">
        <div fxHide fxHide.xs="false" fxLayoutAlign="start none" fxFlex.xs="10%" [ngStyle.xs]="{'margin-top': '4%'}">
            <button [ngStyle.xs]="{'min-width': '50px'}" md-button  [mdMenuTriggerFor]="menuCollapse" class="ic-menu"></button>
             <md-menu #menuCollapse="mdMenu">
                <button color="primary" md-menu-item routerLink="./simulation" routerLinkActive="active"><md-icon>queue</md-icon>{{ 'btn-new-simulation' | translate | uppercase }}</button>
                <button md-menu-item routerLink="/my_agreement" routerLinkActive="active"><md-icon>library_books</md-icon>{{ 'btn-my-proposals' | translate | uppercase }}</button>
                <button md-button routerLink="/login" routerLinkActive="active"><md-icon>assignment_ind</md-icon> {{ 'btn-login' | translate  | uppercase }}</button>
                <button md-button routerLink="/perfil" routerLinkActive="active"><md-icon>account_circle</md-icon>{{ 'btn-my-profile' | translate | uppercase }}</button>
             </md-menu>
        </div>
        <div fxFlex.xs="40">
            <button md-button routerLink="/home"><div id="bradge"></div></button>
        </div>

        <div fxLayoutAlign="end none" fxFlex.gt-sm="40" fxHide.xs="true" [ngStyle.gt-sm]="{'margin-top': '0.4%'}">
            <h5 [innerHtml]="msgCurrentUser"></h5>
        </div>

        <div fxLayout="column">

            <div fxFlex.gt-sm="10" fxFlex.xs="100"   fxLayoutAlign.xs="end none">
                <div class="btn-group" fxFlex.xs="50" class="buttons-IE"  [ngStyle]="{'flex-basis': 'auto !important'}" [ngStyle.gt-sm]="{'margin-top': '7%'}" [ngStyle.xs]="{'margin-top': '14%'}">
                   
                   <md-button-toggle-group multiple id='toggleGroup' class="btnGroupMozila" [ngStyle.xs]="{'margin-left': '40%'}">
                        <md-button-toggle [ngStyle.xs]="{'min-width': '55px'}" (click)="notificationClick()"><md-icon class="icone">notifications</md-icon> <span   fxHide [fxHide.gt-sm]="false" class="mozilaMenu">{{ 'btn-notifications' | translate }}</span></md-button-toggle>
                        <button [ngStyle.xs]="{'display': 'table', 'min-width': '60px'}" md-button (click)="dialogPerfil()"><md-icon class="icone">account_circle</md-icon> <span  fxHide [fxHide.gt-sm]="false" class="mozilaMenu">{{ 'btn-my-profile' | translate }}</span></button>
                   </md-button-toggle-group>
                </div>                
            </div>
        </div>
    </div>
    <salesman_communication [notificationHide]="notificationHide"></salesman_communication>
</div>

<div fxLayout="row" fxHide.xs="true">
    <md-toolbar fxHide.xs="true"  [ngStyle]="{'background-color': 'rgba(241, 241, 241, 0.8)', 'z-index': '1', 'position': 'absolute', 'left': 0, 'right': 0, 'top': '0'}" [ngStyle.sm]="{'top': 0}" class="space" fxLayoutAlign.gt-sm="center center">
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <ng-container *ngFor="let item of items">
                <button *ngIf="item.route" 
                        md-button [mdMenuTriggerFor]="menu"    
                        #trigger="mdMenuTrigger" 
                        [attr.data-level]="1" 
                        routerLinkActive="active"
                        routerLink="{{item.route}}">
                        <md-icon class="icon" *ngIf="item.icon">{{item.icon}}</md-icon>{{item.text}}</button>

                <button *ngIf="!item.route" 
                        md-button 
                        [mdMenuTriggerFor]="menu" 
                        #trigger="mdMenuTrigger" 
                        [attr.data-level]="1">
                        <md-icon class="icon" *ngIf="item.icon">{{item.icon}}</md-icon>{{item.text}}</button>
                <md-menu class="custom-menu" 
                         #menu="mdMenu" 
                         [overlapTrigger]="false" 
                         (close)="closeMenu()">
                         <ng-container *ngTemplateOutlet="subMenu; context: { $implicit: item.items, level: 2 }"></ng-container>
                </md-menu>
            </ng-container>

            <ng-template #subMenu let-items let-level="level">
                <ng-container *ngFor="let item of items">
                    <ng-container *ngIf="item.items && item.items.length else simpleTmpl">

                        <button *ngIf="!item.divider && item.route" 
                                md-menu-item 
                                [disabled]="item.disabled" 
                                [mdMenuTriggerFor]="menu" 
                                #trigger="mdMenuTrigger"
                                [attr.data-level]="level" 
                                (click)="$event.stopPropagation()"
                                class="menu-insurance" 
                                routerLinkActive="active" 
                                routerLink="{{ item.route }}">
                                <span>{{item.text}}</span>
                            <!--<md-icon class="icon" *ngIf="item.icon">{{item.icon}}</md-icon>-->
                        </button>
                        <button *ngIf="!item.route" 
                                md-menu-item 
                                [disabled]="item.disabled" 
                                [mdMenuTriggerFor]="menu" 
                                #trigger="mdMenuTrigger"
                                [attr.data-level]="level" 
                                (click)="$event.stopPropagation()"
                                class="menu-insurance">
                                <span>{{item.text}}</span>
                            <!--<md-icon class="icon" *ngIf="item.icon">{{item.icon}}</md-icon>-->
                        </button>

                        <md-menu class="sub-menu" 
                                 #menu="mdMenu" 
                                 [overlapTrigger]="false" >
                                 <ng-container *ngTemplateOutlet="subMenu; context: { $implicit: item.items || [], level: level + 1 }"></ng-container>
                        </md-menu>
                        <md-divider *ngIf="item.divider" class="mat-divider"></md-divider>
                    </ng-container>

                    <ng-template #simpleTmpl>
                        <button *ngIf="!item.divider" 
                                md-menu-item 
                                [disabled]="item.disabled" 
                                routerLink="{{ item.route }}" 
                                routerLinkActive="active"
                                (click)="closeMenu()">
                                <md-icon class="icon" *ngIf="item.icon">{{item.icon}}</md-icon>
                                <span>{{ item.text }}</span>
                        </button>
                        <md-divider *ngIf="item.divider" class="mat-divider"></md-divider>
                    </ng-template>
                </ng-container>
            </ng-template>
        </div>
        <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
    </button>

    </md-toolbar>
    <md-menu  fxLayoutAlign="end none" x-position="before" #menu="mdMenu">
        <button color="primary" md-menu-item routerLink="./simulation" routerLinkActive="active"><md-icon>queue</md-icon>{{ 'btn-new-simulation' | translate }}</button>
        <button md-menu-item routerLink="/my_agreement" routerLinkActive="active"><md-icon>library_books</md-icon>{{ 'btn-my-proposals' | translate }}</button>
        <button md-button routerLink="/login" routerLinkActive="active"><md-icon>assignment_ind</md-icon> {{ 'btn-login' | translate }}</button>
        <button md-button routerLink="/perfil" routerLinkActive="active"><md-icon>account_circle</md-icon>{{ 'btn-my-profile' | translate }}</button>
    </md-menu>
</div>
