<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">

    <form #ff="ngForm" *ngIf="controlDynamicStepsIn == 18">

        <div fxLayout="row">
            <div fxFlex.sm="100%" fxFlex.gt-sm="100%">
                <!-- NOME DA EMPRESA -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="40" placeholder="{{'lb-company-name' | translate | uppercase}}" [required]="getIsRequiredNameGuarantor()" name="nameCompanyGuarantor2"
                        [(ngModel)]="getSimulation().client.guarantor2.company.name">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- OCUPACAO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-occupation' | translate | uppercase}}" (change)="validOccupation()" [required]="getSimulation().client.guarantor2.isRequired"
                    name="occupationProfGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.company.occupation.id">
                    <md-option *ngFor="let lo of getListOccupation()" [value]="lo.id">
                        {{ lo.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CARGO / FUNCAO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-office' | translate | uppercase}} / {{'lb-role' | translate | uppercase}}" [required]="getSimulation().client.guarantor2.isRequired"
                    name="positionFunctionProfGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.company.profession.id">
                    <md-option *ngFor="let lpf of getListPositionFunction()" [value]="lpf.id">
                        {{ lpf.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CNPJ -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="18" placeholder="CNPJ" customcnpj [required]="getIsRequiredCNPJGuarantor()" name="cnpj"
                        [(ngModel)]="getSimulation().client.guarantor2.company.cnpj">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CEP -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="10" omegamask="99.999-999" placeholder="CEP" name="cepProfGuarantor2" [required]="getSimulation().client.guarantor2.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor2.company.address.cep">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="5" placeholder="{{'lb-number' | translate | uppercase}}" name="numeroProfGuarantor2" [required]="getSimulation().client.isRequiredGuarantor1"
                        [(ngModel)]="getSimulation().client.guarantor2.company.address.number">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ENDERECO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="50" placeholder="{{'lb-address' | translate | uppercase}}" name="enderecoProfGuarantor2" [required]="getSimulation().client.isRequiredGuarantor1"
                        [(ngModel)]="getSimulation().client.guarantor2.company.address.address">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- COMPLEMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="20" placeholder="{{'lb-complement' | translate | uppercase}}" name="complementoProfGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.company.address.complement">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- BAIRRO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" placeholder="{{'lb-neighborhood' | translate | uppercase}}" name="bairroProfGuarantor2" [required]="getSimulation().client.isRequiredGuarantor1"
                        [(ngModel)]="getSimulation().client.guarantor2.company.address.neighborhood">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CIDADE -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" placeholder="{{'lb-city' | translate | uppercase}}" name="cidadeProfGuarantor2" [required]="getSimulation().client.isRequiredGuarantor1"
                        [(ngModel)]="getSimulation().client.guarantor2.company.address.city">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- UF -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="UF" [required]="getSimulation().client.isRequiredGuarantor1"
                    name="provinceProfGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.company.address.province.id">
                    <md-option *ngFor="let lp of getListProvince()" [value]="lp.id">
                        {{ lp.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TELEFONE COMERCIAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput ngControl maxlength="15" customphone placeholder="{{'lb-comercial-phone-number' | translate | uppercase}}" [required]="getIsRequiredPhoneGuarantor()" 
                        type="text" name="phoneProfGuarantor2" [(ngModel)]="getSimulation().client.guarantor2.company.comercialPhone.number" />
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RAMAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="4" placeholder="{{'lb-telephone-extension' | translate | uppercase}}" name="branchProfGuarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.company.comercialPhone.extension">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- GRUPOS ATIVIDADE ECONOMICA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-groups-activity-economic' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="economicActivityGroupProfGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.company.economicActivityGroup.id">
                    <md-option *ngFor="let leag of getListEconomicActivityGroup()" [value]="leag.id">
                        {{ leag.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ATIVIDADE ECONOMICA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-activity-economic' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="economicActivityProfGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.company.economicActivity.id">
                    <md-option *ngFor="let lea of getListEconomicActivity()" [value]="lea.id">
                        {{ lea.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- PORTE -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-size-company' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="sizeCompanyProfGuarantor2" 
                [(ngModel)]="getSimulation().client.guarantor2.company.size.id">
                    <md-option *ngFor="let lsc of getListSizeCompany()" [value]="lsc.id">
                        {{ lsc.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- DATA DE ADMISSAO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" monthyear="99/9999" mdInput placeholder="{{'lb-admission-date' | translate | uppercase}}" name="admissionDateProfGuarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.company.admissionDate">
                    <!--<md-datepicker-toggle mdSuffix [for]="picker2"></md-datepicker-toggle>-->
                </md-input-container>
                <!--<md-datepicker #picker2></md-datepicker>-->
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--PATRIMONIO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-patrimony' | translate | uppercase}}" name="patrimonyProfGuarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.company.patrimony">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TIPO DE RENDA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-type-of-income' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="typeOfIncomeProfGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.company.incomeType.id">
                    <md-option *ngFor="let lti of getlistTypeOfIncome()" [value]="lti.id">
                        {{ lti.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TIPO DE COMPROVACAO DE RENDA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-type-of-income-report' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="typeProofOfIncomeProfGuarantor2"
                    [(ngModel)]="getSimulation().client.guarantor2.company.proofIncomeType.id">
                    <md-option *ngFor="let ltpi of getListTypeProofOfIncome()" [value]="ltpi.id">
                        {{ ltpi.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RENDA MENSAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-monthly-income' | translate | uppercase}}" name="monthlyIncomeProfGuarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.company.monthlyIncome">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--OUTRAS RENDA -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-others-icome' | translate | uppercase}}" name="othersIncomeProfGuarantor2" 
                    [(ngModel)]="getSimulation().client.guarantor2.company.otherIncomes">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%" fxLayoutAlign="end none">
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
                <button type="button" (click)="nextStep()" fxFlex.xs="100%" [disabled]="!ff.form.valid" fxFlex.gt-sm="65%" fxFlex.sm="100%" md-raised-button color="primary">{{'btn-personal-references' | translate | uppercase}} {{'btn-guarantor' | translate | uppercase}} 2</button>
            </div>
        </div>

    </form>
</div>