<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">
    
    
    <form #ff="ngForm" *ngIf="controlDynamicStepsIn == 12">

        <div fxLayout="row">
            <div fxFlex.sm="100%" fxFlex.gt-sm="100%">
                <!-- NOME DA EMPRESA -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="60" placeholder="{{'lb-company-name' | translate | uppercase}}" [required]="getIsRequiredNameGuarantor()" name="nameCompanyGuarantor1"
                        [(ngModel)]="getSimulation().client.guarantor1.company.name">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- OCUPACAO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-occupation' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" (change)="validOccupation()" [required]="getSimulation().client.guarantor1.isRequired"
                    name="occupationProfGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.company.occupation.id">
                    <md-option *ngFor="let lo of getListOccupation()" [value]="lo.id">
                        {{ lo.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CARGO / FUNCAO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-office' | translate | uppercase}} / {{'lb-role' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" [required]="getSimulation().client.guarantor1.isRequired"
                    name="positionFunctionProfGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.company.profession.id">
                    <md-option *ngFor="let lpf of getListPositionFunction()" [value]="lpf.id">
                        {{ lpf.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CNPJ -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="18" placeholder="CNPJ" customcnpj [required]="getIsRequiredCNPJGuarantor()" name="cnpj"
                        [(ngModel)]="getSimulation().client.guarantor1.company.cnpj">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CEP -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="10" placeholder="CEP" omegamask="99.999-999" name="cepProfGuarantor1" [required]="getSimulation().client.guarantor1.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor1.company.address.cep">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="5" placeholder="{{'lb-number' | translate | uppercase}}" name="numeroProfGuarantor1" [required]="getSimulation().client.guarantor1.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor1.company.address.number">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ENDERECO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="50" placeholder="{{'lb-address' | translate | uppercase}}" name="enderecoProfGuarantor1" [required]="getSimulation().client.guarantor1.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor1.company.address.address">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- COMPLEMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="20" placeholder="{{'lb-complement' | translate | uppercase}}" name="complementoProfGuarantor1" 
                    [(ngModel)]="getSimulation().client.guarantor1.company.address.complement">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- BAIRRO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="20" placeholder="{{'lb-neighborhood' | translate | uppercase}}" name="bairroProfGuarantor1" [required]="getSimulation().client.guarantor1.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor1.company.address.neighborhood">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CIDADE -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="40" placeholder="{{'lb-city' | translate | uppercase}}" name="cidadeProfGuarantor1" [required]="getSimulation().client.guarantor1.isRequired"
                        [(ngModel)]="getSimulation().client.guarantor1.company.address.city">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- UF -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="UF" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" [required]="getSimulation().client.guarantor1.isRequired"
                    name="provinceProfGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.company.address.province.id">
                    <md-option *ngFor="let lp of getListProvince()" [value]="lp.id">
                        {{ lp.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TELEFONE COMERCIAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput ngControl maxlength="15" customphone placeholder="{{'lb-comercial-phone-number' | translate | uppercase}}" [required]="getIsRequiredPhoneGuarantor()"
                        type="text" name="phoneProfGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.company.comercialPhone.number" required/>
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RAMAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="4" placeholder="{{'lb-telephone-extension' | translate | uppercase}}" name="branchProfGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.company.comercialPhone.extension">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- GRUPOS ATIVIDADE ECONOMICA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-groups-activity-economic' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="economicActivityGroupProfGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.company.economicActivityGroup.id">
                    <md-option *ngFor="let leag of getListEconomicActivityGroup()" [value]="leag.id">
                        {{ leag.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ATIVIDADE ECONOMICA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-activity-economic' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="economicActivityProfGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.company.economicActivity.id">
                    <md-option *ngFor="let lea of getListEconomicActivity()" [value]="lea.id">
                        {{ lea.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- PORTE -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-company-size' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="sizeCompanyProfGuarantor1" 
                [(ngModel)]="getSimulation().client.guarantor1.company.size.id">
                    <md-option *ngFor="let lsc of getListSizeCompany()" [value]="lsc.id">
                        {{ lsc.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- DATA DE ADMISSAO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" monthyear="99/9999" mdInput maxlength="10" placeholder="{{'lb-admission-date' | translate | uppercase}}" name="admissionDateProfGuarantor1" 
                    [(ngModel)]="getSimulation().client.guarantor1.company.admissionDate">
                    <!--<md-datepicker-toggle mdSuffix [for]="picker2"></md-datepicker-toggle>-->
                </md-input-container>
                <!--<md-datepicker #picker2></md-datepicker>-->
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--PATRIMONIO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-patrimony' | translate | uppercase}}" name="patrimonyProfGuarantor1" 
                    [(ngModel)]="getSimulation().client.guarantor1.company.patrimony">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TIPO DE RENDA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-type-of-income' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="typeOfIncomeProfGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.company.incomeType.id">
                    <md-option *ngFor="let lti of getListTypeOfIncome()" [value]="lti.id">
                        {{ lti.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TIPO DE COMPROVACAO DE RENDA -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-type-of-income-report' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" name="typeProofOfIncomeProfGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.company.proofIncomeType.id">
                    <md-option *ngFor="let ltpi of getListTypeProofOfIncome()" [value]="ltpi.id">
                        {{ ltpi.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RENDA MENSAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-monthly-income' | translate | uppercase}}" name="monthlyIncomeProfGuarantor1" 
                    [(ngModel)]="getSimulation().client.guarantor1.company.monthlyIncome">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--OUTRAS RENDA -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-others-icome' | translate | uppercase}}" name="othersIncomeProfGuarantor1" 
                    [(ngModel)]="getSimulation().client.guarantor1.company.otherIncomes">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.gt-sm="50%" fxFlex.sm="50%" fxLayoutAlign="end none">
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.sm="50%" fxLayoutAlign="center center" [ngStyle]="{'padding-top':'15px'}">
                <button type="button" fxFlex.xs="100%" fxFlex.gt-sm="62%" fxFlex.sm="100%" [disabled]="!ff.form.valid" (click)="nextStep()" md-raised-button color="primary">{{'btn-personal-references' | translate}}</button>
            </div>
        </div>


    </form>
</div>