<div class="" fxFlex="100">
	<div fxLayoutAlign="center center" class="spaceCard">
		<md-card fxFlex.gt-sm="70%" fxFlex.xs="100%">
			<md-card-header id="card-menu-proposta">
				<span class="mozilaMargin" [ngStyle]="{'padding-top':'2%'}">{{ 'lb-insurance-denied' | translate }}</span>
			</md-card-header>

			<md-card-content class="layouts">
				<form>
					<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" class="space-component">

							<md-input-container fxFlex.xs="100%" fxFlex.gt-sm="45%">
								<input mdInput
									name="idDossier" 
									placeholder="{{ 'lb-proposal-number' | translate }}" 
									[(ngModel)]="filter.idDossier">
							</md-input-container>

							<md-input-container fxFlex.xs="100%" fxFlex.gt-sm="45%">
								<input mdInput
									name="adp" 
									placeholder="{{ 'lb-proposal-adp-number' | translate }}" 
									[(ngModel)]="filter.adp">
							</md-input-container>
							<md-select placeholder="{{ 'lb-customer-type' | translate }}" 
									fxFlex.xs="100%" fxFlex.gt-sm="45%" 
									name="typePerson" 
									[(ngModel)]="filter.typePerson">
								<md-option *ngFor="let personType of listPersonType" [value]="personType.name">
									{{ personType.description }}
								</md-option>
							</md-select>

							<md-input-container fxFlex.xs="100%" fxFlex.gt-sm="45%">
								<input mdInput 
									name="nameClient"
									[(ngModel)]="filter.nameClient"
									placeholder="{{ 'lb-name' | translate }}">
							</md-input-container>

						<!--CALENDARIO-->
                        <div fxFlex.xs="100%" fxFlex.gt-sm="45%" fxLayoutWrap fxLayoutAlign="space-around stretch">
							<md-input-container fxFlex.gt-sm="45%" fxFlex.xs="100%">
								<input mdInput
									   name="dateCreationInit" 
									   [mdDatepicker]="picker3" 
									   placeholder="{{ 'lb-initial-creation-date' | translate }}" 									   
									   [(ngModel)]="filter.dateCreationInit">
								<md-datepicker-toggle mdSuffix [for]="picker3"></md-datepicker-toggle>
							</md-input-container>
							<md-datepicker #picker3></md-datepicker>

							<md-input-container fxFlex.gt-sm="45%" fxFlex.xs="100%">
								<input mdInput 
									   [mdDatepicker]="picker4" 
									   placeholder="{{ 'lb-final-creation-date' | translate}}" 
									   name="dateCreationEnd"
									   [(ngModel)]="filter.dateCreationEnd">									   
								<md-datepicker-toggle mdSuffix [for]="picker4"></md-datepicker-toggle>
							</md-input-container>
							<md-datepicker #picker4></md-datepicker>
						</div>

							<md-select placeholder="{{ 'lb-sale-type' | translate }}" 
									   fxFlex.xs="100%" fxFlex.gt-sm="45%"
									   name="saleTypeId"
									   [(ngModel)]="filter.saleTypeId">
								<md-option *ngFor="let saleType of listSaleType" [value]="saleType.id">
										{{ saleType.description }}
								</md-option>
							</md-select>

                        <md-select placeholder="{{ 'lb-concessionaire' | translate }}" 
								   fxFlex.xs="100%" fxFlex.gt-sm="45%"
								   name="dealership" 
								   [(ngModel)]="filter.dealership">
							<md-option *ngFor="let structure of listStructure" [value]="structure.structureId">
								{{ structure.description }}
							</md-option>
						</md-select>

						<!--CALENDÁRIOS-->
                        <div fxFlex.xs="100%" fxFlex.gt-sm="45%" fxLayoutWrap fxLayoutAlign="space-around stretch">					
							<md-input-container fxFlex.gt-sm="45%" fxFlex.xs="100%">
								<input mdInput 
									   [mdDatepicker]="picker1"
									   name="dateExpirationInit"
									   [(ngModel)]="filter.dateExpirationInit"
									   placeholder="{{ 'lb-date-initial-validate' | translate }}">
								<md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
							</md-input-container>
							<md-datepicker #picker1></md-datepicker>

							<md-input-container fxFlex.gt-sm="45%" fxFlex.xs="100%">
								<input mdInput 
								       [mdDatepicker]="picker2"
									   name="dateExpirationEnd"
									   [(ngModel)]="filter.dateExpirationEnd"
									   placeholder="{{ 'lb-date-final-validate' | translate}}">
								<md-datepicker-toggle mdSuffix [for]="picker2"></md-datepicker-toggle>
							</md-input-container>
							<md-datepicker #picker2></md-datepicker>
						</div>

					</div>

                    <div fxLayout="row" fxLayoutAlign="end none" fxLayoutWrap fxLayoutGap.gt-sm="3%">
                        <div fxFlex.gt-sm="20%" fxFlex.xs="100%">
                            <button fxFlex.xs="100%" 
									[ngStyle.xs]="{'margin-top.px':20}" 
									[ngStyle.gt-sm]="{'margin-top.px':20}"
                            		md-raised-button color="primary"
									(click)="clearForm()">{{ 'btn-reset' | translate }}
							</button>
                        </div>
                        <div fxFlex.gt-sm="20%" fxFlex.xs="100%">
                            <button fxFlex.xs="100%" 
									[ngStyle.xs]="{'margin-top.px':5}" 
									[ngStyle.gt-sm]="{'margin-top.px':20}"
                            		md-raised-button color="primary"
									(click)="search()">{{'btn-search' | translate}}
							</button>
                        </div>
                    </div>

				</form>

			</md-card-content>
            <!--*ngIf="showConsult"-->
			<md-card-content [ngStyle]="{'padding': '1%'}" >
				<ngx-datatable #table 
							   	class="material my-agreement" 
							   	[rows]="listDossiers" 
								[columnMode]="'force'"
								[headerHeight]="50"
								[footerHeight]="50"
								[rowHeight]="'50'"
								[limit]="20" 
							   	[messages]="{emptyMessage: 'Não encontrado nenhum resultado para os filtros inseridos.'}">

                    <!--*ngIf="!media.isActive('xs')"-->
                    <ngx-datatable-column name="{{ 'lb-quotation' | translate }}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{ 'lb-salesman' | translate | uppercase }}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.nameSalesman}}
						</ng-template>
					</ngx-datatable-column>

                    <!--*ngIf="!media.isActive('xs')"-->
					<ngx-datatable-column name="{{'lb-sale-type'  | translate}}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{'lb-sale-type' | translate | uppercase}}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row.saleType }}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="{{'lb-proposal' | translate}}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{ 'lb-proposal' | translate | uppercase }}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row.numDossier }}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="ADP Nº">
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{ row.adp }}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name="CPF/CNPJ">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<label *ngIf="row.cpfCnpj.length === 11">{{row.cpfCnpj | cpfMask}}</label>
							<label *ngIf="row.cpfCnpj.length > 11">{{row.cpfCnpj | cnpjMask}}</label>
						</ng-template>
					</ngx-datatable-column>

                    <!--*ngIf="!media.isActive('xs')"-->
					<ngx-datatable-column name="{{'lb-client' | translate}}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{'lb-client' | translate | uppercase}}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.nameClient}}
						</ng-template>
					</ngx-datatable-column>

                    <ngx-datatable-column name="{{ 'lb-status-revaluation' | translate }}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{'lb-status-revaluation' | translate | uppercase}}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.statusRevaluation}}
						</ng-template>
					</ngx-datatable-column>

                     <ngx-datatable-column name="{{ 'lb-validate' | translate }}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{'lb-validate' | translate | uppercase}}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.expirationDate | date : 'dd/MM/yyyy'}}
						</ng-template>
					</ngx-datatable-column>

                    <ngx-datatable-column name="{{'lb-model' | translate}}">
						<ng-template let-column="column" ngx-datatable-header-template>
							{{ 'lb-model' | translate | uppercase }}
						</ng-template>
						<ng-template let-row="row" ngx-datatable-cell-template>
							{{row.vehicleModel}}
						</ng-template>
					</ngx-datatable-column>

					<ngx-datatable-column name=" ">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<a [routerLink]="['/simulation', row.dossierId]">
								<md-icon>play_circle_outline</md-icon>
							</a>
						</ng-template>
					</ngx-datatable-column>

				</ngx-datatable>
			</md-card-content>
		</md-card>

	</div>
</div>