<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" class="space-component padding20" [style.xs]="{'padding-left': '5px','padding-right':'5px'}">
    <div fxFlex.xs="100%" fxFlex.sm="45%" fxFlex.gt-sm="45%" >
        <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-sm="50%">
            <img height="95%" width="95%" [src]="appService.getURLS3()+(versionSelected.url?versionSelected.url:simulation.car.url)">
        </div>
        <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.gt-sm="50%">
            {{simulation.car.description | uppercase}}
        </div>
    </div>
    <div fxFlex.xs="100%" fxFlex.sm="45%" fxFlex.gt-sm="45%">
        <b>{{'lb-vehicle-type' | translate | uppercase}}</b>
    </div>
    <div fxFlex.xs="100%" [ngStyle.xs]="{'display': 'inline-flex', 'margin-top': '5%'}">
        <div *ngFor="let specialType of specialTypes" [ngStyle.xs]="{'width': '55%'}">
            <div fxFlex.xs="90%" fxFlex.sm="45%" fxFlex.gt-sm="45%" [ngStyle.xs]="{'border': '1px solid #ccc', 'padding': '6px'}">
                <md-checkbox [disabled]="disableFieldsByStatusDossier()" class="example-margin">{{specialType.description}}</md-checkbox>
            </div>
        </div>
    </div>
</div>
<hr [ngStyle]="{'border-color': '#f1f1f1'}">
<div fxLayout="column" class="space-component padding20">
    <md-radio-group class="example-radio-group" [(ngModel)]="verselect" fxLayout="column"
        class="space-component padding20" [style.xs]="{'padding-left': '5px','padding-right':'5px'}">
        <md-radio-button [disabled]="disableFieldsByStatusDossier()" class="example-radio-button" [value]="ver" (change)="changeVersion($event)"
         fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let ver of versions" class="font-small" style="padding-top: 10px;">
            {{ver.description}}
        </md-radio-button>
    </md-radio-group>
</div>
<hr [ngStyle]="{'border-color': '#f1f1f1'}">

<div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around stretch" class="space-component padding20" [style.xs]="{'padding-left': '5px','padding-right':'5px'}">
    <div fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.gt-sm="33%" >
        <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-manufacturing-year' | translate}}" [(ngModel)]="yearSelect" (change)="changeManuYear($event)"
            name="food">
            <md-option *ngFor="let year of yearManu" [value]="year">
                {{year}}
            </md-option>
        </md-select>
    </div>

    <div fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.gt-sm="33%" >
        <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-model-year' | translate}}" [(ngModel)]="versionSelected" (change)="getValue($event)" name="food">
            <md-option *ngFor="let versionyear of versionsYears" [value]="versionyear">
                {{versionyear.yearModel}}
            </md-option>
        </md-select>
    </div>

</div>