<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">

    <form #ff="ngForm" *ngIf="controlDynamicStepsIn == 8">

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO DO CHASSI -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input [disabled]="getSimulation().readOnly" mdInput type="text" maxlength="20" placeholder="{{'lb-chassis-number' | translate | uppercase}}" name="numberChassi" [(ngModel)]="getSimulation().client.carDetails.chassiNumber">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO DO REGISTRO -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input [disabled]="getSimulation().readOnly" mdInput type="text" maxlength="7" placeholder="{{'lb-register-number' | translate | uppercase}}" name="registerNumber" [(ngModel)]="getSimulation().client.carDetails.registerNumber">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ESTADO DE REGISTRO -->
                <md-select [disabled]="getSimulation().readOnly" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-registration-province' | translate | uppercase}}" name="registrationProvince"
                    [(ngModel)]="getSimulation().client.carDetails.registrationProvince.id">
                    <md-option *ngFor="let lrp of getListRegistrationProvince()" [value]="lrp.id">
                        {{ lrp.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ESTADO DE LICENCIAMENTO -->
                <md-select [disabled]="getSimulation().readOnly" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-licensing-province' | translate | uppercase}}" name="licensingProvince"
                    [(ngModel)]="getSimulation().client.carDetails.licensingProvince.id">
                    <md-option *ngFor="let llp of getListLicensingProvince()" [value]="llp.id">
                        {{ llp.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- COR -->
                <md-select [disabled]="getSimulation().readOnly" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-color' | translate | uppercase}}" name="vehicleColor" [(ngModel)]="getSimulation().client.carDetails.vehicleColor.id">
                    <md-option *ngFor="let lvc of getListVehicleColor()" [value]="lvc.id">
                        {{ lvc.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- RENAVAM -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input [disabled]="getSimulation().readOnly" mdInput type="text" maxlength="10" placeholder="RENAVAM" name="renavam" [(ngModel)]="getSimulation().client.carDetails.renavam">
                </md-input-container>
            </div>
        </div>            

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ORIGEM -->
                <md-select [disabled]="disableFieldsByStatusDossier()" placeholder="{{'lb-origin' | translate | uppercase}}" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" required name="vehicleOrigin"
                    [(ngModel)]="getSimulation().client.carDetails.vehicleOrigin">
                    <md-option *ngFor="let lvo of getListVehicleOrigin()" [value]="lvo.value">
                        {{ lvo.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
            </div>
        </div>
    
        <div fxLayout="row">
            <div fxFlex.gt-sm="50%" fxFlex.sm="50%" fxLayoutAlign="end none">
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.sm="50%" fxLayoutAlign="center center" [ngStyle]="{'padding-top':'15px'}">
                <button type="button"
                        fxFlex.xs="100%" 
                        fxFlex.gt-sm="50%"
                        [disabled]="!ff.form.valid" 
                        fxFlex.sm="100%" (click)="nextStep()"
                        md-raised-button color="primary">{{'btn-guarantor' | translate | uppercase}} 1
                </button>
            </div>
        </div> 
        
    </form>
</div>