.navbar-nav a.active {
	background-color: #e7e7e7 !important;
	color: #555 !important;
}

.app-content {
	padding: 20px;
}

.app-content md-card {
	margin: 20px;
}

.flexDemoContainer {
  border: solid 1px red;
  box-sizing: content-box !important;
}
.ngx-datatable.my-agreement{
	font-size: smaller;
}
.datatable-body-cell{
	background-color: white;
}

.mat-form-field-infix{
	font-size: smaller;
}

/*
.transparent-block  {  
	 background-color: rgba(0,0,0,2) ;
}
*/


.spinner_transparent > .mat-dialog-container{  
	 background-color: rgba(255,255,255,0) !important;
	 padding: 0px !important;
	 margin: 0px !important;
	 box-shadow : none;
}



.calculation > .mat-dialog-container{  
	 /*background-color: rgba(255,255,255,0) !important;*/
	 padding: 1px !important;
	 margin-left: 11% !important;
	 /*max-height: 85%; */
}

.cdk-overlay-backdrop.calcDialog.cdk-overlay-backdrop-showing {
	opacity: 1 !important;
	background-color: #fff;
}

.calculation { 
	/*transform: translate(11%, -3%);*/
	/*background-color: white !important;*/
	background-color: white;
	
}

.paintLine {
	background-color: #FFEC8B;
}

