<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">
    
    <form #ff="ngForm" *ngIf="controlDynamicStepsIn == 11">

        <div fxLayout="row">
            <div fxFlex.sm="100%" fxFlex.gt-sm="100%">
                <!-- NOME -->
                <md-input-container fxFlex.gt-sm="90%" fxFlex.sm="90%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="60" placeholder="{{'lb-name' | translate | uppercase}}" name="nameSpouseGuarantor1" [required]="getSimulation().client.guarantor1.spouse.name"
                        [(ngModel)]="getSimulation().client.guarantor1.spouse.name">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CPF -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="15" placeholder="CPF" customcpfcnpj maxlength="14" [required]="getSimulation().client.guarantor1.isRequired"
                        name="cpfSpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.cpf">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- SEXO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-gender' | translate | uppercase}}" name="sexSpouseGuarantor1" [required]="getSimulation().client.guarantor1.isRequired"
                    [(ngModel)]="getSimulation().client.guarantor1.spouse.sex">
                    <md-option *ngFor="let ls of getListSex()" [value]="ls.name">
                        {{ ls.name }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- DATA DE NASCIMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" dateMask="99/99/9999" mdInput [mdDatepicker]="picker" maxlength="10" placeholder="{{'lb-date-of-birth' | translate | uppercase}}" [required]="getSimulation().client.guarantor1.isRequired"
                        name="dateSpouseBirthdayGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.birthDate">
                    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- UF NATURALIDADE -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="UF" name="provinceSpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.province.id">
                    <md-option *ngFor="let lp of getListProvince()" [value]="lp.id">
                        {{ lp.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NUMERO DO DOCUMENTO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" placeholder="{{'lb-document-number' | translate | uppercase}}" name="numberDocumentSpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.numberDocument">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- ÔRGÃO EMISSOR -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-issuing-board' | translate | uppercase}}" name="issuingBodySpouseGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.spouse.issuingBody.id">
                    <md-option *ngFor="let lib of getListIssuingBody()" [value]="lib.id">
                        {{ lib.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- NOME DA EMPRESA -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="40" placeholder="{{'lb-company-name' | translate | uppercase}}" name="nameCompanySpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.company.name">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- OCUPACAO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-occupation' | translate | uppercase}}" name="occupationSpouseGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.spouse.company.occupation.id">
                    <md-option *ngFor="let lo of getListOccupation()" [value]="lo.id">
                        {{ lo.description }}
                    </md-option>
                </md-select>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- CARGO / FUNCAO -->
                <md-select [disabled]="disableFieldsByStatusDossier()" fxFlex.gt-sm="80%" fxFlex.sm="70%" class="bug-input" placeholder="{{'lb-office' | translate | uppercase}} / {{'lb-role'}}" name="positionFunctionSpouseGuarantor1"
                    [(ngModel)]="getSimulation().client.guarantor1.spouse.company.profession.id">
                    <md-option *ngFor="let lpf of getListPositionFunction()" [value]="lpf.id">
                        {{ lpf.description }}
                    </md-option>
                </md-select>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- DATA DE ADMISSAO -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" dateMask="99/99/9999" mdInput [mdDatepicker]="picker2" maxlength="10" placeholder="{{'lb-admission-date' | translate | uppercase}}" name="admissionDateSpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.company.admissionDate">
                    <md-datepicker-toggle mdSuffix [for]="picker2"></md-datepicker-toggle>
                </md-input-container>
                <md-datepicker #picker2></md-datepicker>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RENDA MENSAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text"  maxlength="17" currencyMask placeholder="{{'lb-monthly-income' | translate | uppercase}}" name="monthlyIncomeSpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.company.monthlyIncome">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!-- TELEFONE CELULAR -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput ngControl placeholder="{{'lb-phone-number' | translate | uppercase}}" customphone maxlength="15" type="text" name="phoneSpouseGuarantor1"
                        [(ngModel)]="getSimulation().client.guarantor1.spouse.company.comercialPhone.number" />
                </md-input-container>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
                <!--RAMAL -->
                <md-input-container fxFlex.gt-sm="80%" fxFlex.sm="70%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="4" placeholder="{{'lb-telephone-extension' | translate | uppercase}}" name="branchSpouseGuarantor1" [(ngModel)]="getSimulation().client.guarantor1.spouse.company.comercialPhone.extension">
                </md-input-container>
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%">
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%" fxLayoutAlign="end none">
            </div>
            <div fxFlex.sm="50%" fxFlex.gt-sm="50%" fxLayoutAlign="center center" [ngStyle]="{'padding-top':'15px'}">
                <button type="button" fxFlex.xs="100%" fxFlex.gt-sm="62%" fxFlex.sm="100%" (click)="nextStep()" md-raised-button color="primary">{{'btn-professional-data' | translate | uppercase}} {{'btn-guarantor' | translate | uppercase}} 1</button>
            </div>
        </div>
        
    </form>
</div>