<div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-sm="100%" fxFlex.sm="100%" [ngStyle]="{'padding': '2%'}">
    <form #ff="ngForm">

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                <!-- NOME COMPLETO REF. 1 -->
                <md-input-container fxFlex.xs="100%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" required maxlength="50" placeholder="{{'lb-full-name' | translate | uppercase}} REF. 1" name="fullNameRef1"
                        [(ngModel)]="getSimulation().client.reference1.name">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                <!-- NUMERO -->
                <md-input-container fxFlex.xs="100%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" required maxlength="10" placeholder="{{'lb-number' | translate | uppercase}}" name="numeroRef1"
                        [(ngModel)]="getSimulation().client.reference1.phone">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                <!-- NOME COMPLETO REF. 2 -->
                <md-input-container fxFlex.xs="100%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="50" placeholder="{{'lb-full-name' | translate | uppercase}} REF. 2" name="fullNameRef2"
                        [(ngModel)]="getSimulation().client.reference2.name">
                </md-input-container>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex.xs="100%">
                <!-- NUMERO -->
                <md-input-container fxFlex.xs="100%">
                    <input [disabled]="disableFieldsByStatusDossier()" mdInput type="text" maxlength="10" placeholder="{{'lb-number' | translate | uppercase}}" name="numeroRef2" [(ngModel)]="getSimulation().client.reference2.phone">
                </md-input-container>
            </div>
        </div>


        <div fxLayout="row">
            <md-toolbar (click)="nextStep()" class="buttonMobileFooter">
                {{'btn-banking-reference' | translate | uppercase}}
            </md-toolbar>
        </div>


    </form>
</div>