body{padding:20px;}

/*Vertical Steps*/
.list-group.vertical-steps{
  padding-left:10px;
}
.list-group.vertical-steps .list-group-item{
  border:none;
  border-left:3px solid #ece5dd;
  box-sizing:border-box;
  border-radius:0;
  counter-increment: step-counter;
  padding-left:20px;
  padding-right:0px;
  padding-bottom:20px;  
  padding-top:0px;
}
.list-group.vertical-steps .list-group-item.active{
  background-color:transparent;
  color:inherit;
}
.list-group.vertical-steps .list-group-item:last-child{
  border-left:6px solid transparent;
  padding-bottom:0;
}
.list-group.vertical-steps .list-group-item::before {
  border-radius: 50%;
  background-color:#ece5dd;
  color:#555;
  content: counter(step-counter);
  display:inline-block;
  float:left;
  height:40px;
  line-height:39px;
  margin-left:-42px;
  text-align:center;  
  width:40px;  
}
.list-group.vertical-steps .list-group-item span,
.list-group.vertical-steps .list-group-item a
.list-group.vertical-steps .list-group-item div{
  display:block;
  overflow:hidden;
  padding-top:4px;
}

.list-group.vertical-steps .list-group-item.completed:last-child{
  border-left:5px solid transparent;
}

.returnToStepCursor {
  cursor:pointer;
}

.stepCustomer {
  background: #f3f3f3;
  align-items: center;
  display: flex;
  color: #000;
  padding-left: 7%;
  margin-top: 7%;
}
